@font-face {
	font-family: 'AlluraRegular';
	src: url('Allura-Regular-webfont.eot');
	src: url('Allura-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('Allura-Regular-webfont.woff') format('woff'),
		url('Allura-Regular-webfont.ttf') format('truetype'),
		url('Allura-Regular-webfont.svg#AlluraRegular') format('svg');
}